.features {
  background-color: darken($color-light, 10%);

  @extend %section;

  &__title {
    @extend %section-title;
  }
  
  &__description {
    @extend %section-description;
  }
}

.feature-item {
  margin-top: $gap / 2;
  margin-bottom: $gap / 2;

  &__icon {
    @include icon;
  }

  &__title {
    text-align: center;
  }

  &__description {
    text-align: center;
  }
}
