.features {
  background-color: darken($color-light, 10%);

  @extend %section;

  &__title {
    @extend %section-title;
  }
}

.feature-item {
  margin-top: $gap / 2;
  margin-bottom: $gap / 2;

  &__icon {
    position: relative;

    display: block;

    width: 80px;
    height: 40px;
    margin: 55px auto;

    text-align: center;

    color: #ffffff;
    background: $color-accent;

    font-size: 2rem;
    line-height: 40px;

    &::before {
      position: absolute;
      top: -25px;
      left: 0;

      content: "";

      border-right: 40px solid transparent;
      border-bottom: 25px solid $color-accent;
      border-left: 40px solid transparent;
    }

    &::after {
      position: absolute;
      bottom: -25px;
      left: 0;

      content: "";

      border-top: 25px solid $color-accent;
      border-right: 40px solid transparent;
      border-left: 40px solid transparent;
    }
  }

  &__title {
    text-align: center;
  }

  &__description {
    text-align: center;
  }
}