html {
  font-family: $font-main;
  font-size: $font-size;
}

body {
  font-family: $font-main;
}

h1 {
  font-family: $font-header;
}

h2 {
  font-family: $font-header;
}

h3 {
  font-family: $font-header;
}

h4 {
  font-family: $font-header;
}

h5 {
  font-family: $font-header;
}

h6 {
  font-family: $font-header;
}

button:focus {
  outline: none;
}