html {
  font-family: $font-main;
  font-size: $font-size;
}

body {
  color: $color-gray;

  font-family: $font-main;
}

h1 {
  @extend %header;
}

h2 {
  @extend %header;
}

h3 {
  @extend %header;
}

h4 {
  @extend %header;
}

h5 {
  font-size: 1.125rem;

  @extend %header;
}

h6 {
  @extend %header;
}

button:focus {
  outline: none;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}