.header-navbar {
  transition: background-color 0.5s;

  @media (min-width: $large) {
    padding: 0;

    background-color: transparent;
  }

  @media (max-width: $large - 0.02) {
    background-color: rgba($color-dark, 0.75);
  }

  .nav-link {
    transition: padding 0.5s;

    @media (min-width: $large) {
      padding-top: $gap * 2;
      padding-bottom: $gap * 2;
    }
  }

  &--scrolled {
    @media (min-width: $large) {
      background-color: rgba($color-dark, 0.75);
    }

    .nav-link {
      @media (min-width: $large) {
        padding-top: $gap;
        padding-bottom: $gap;
      }
    }

    .active {
      transition: background-color 0.5s;

      background-color: $color-accent;
    }
  }
}