.header-navbar {
  transition: background-color 0.5s;

  @include lg-min {
    padding: 0;

    background-color: transparent;
  }

  @include lg {
    background-color: rgba($color-dark, 0.75);
  }

  .nav-link {
    transition: padding 0.5s;

    @include lg-min {
      padding-top: $gap * 2;
      padding-bottom: $gap * 2;
    }
  }

  &--scrolled {
    @include lg-min {
      background-color: rgba($color-dark, 0.75);
    }

    .nav-link {
      @include lg-min {
        padding-top: $gap;
        padding-bottom: $gap;
      }
    }

    .active {
      transition: background-color 0.5s;

      background-color: $color-accent;
    }
  }
}
